@charset "UTF-8";

@media screen and (max-width: 1200px){
  .splash_message h1{
    font-size: 45px;
    transition: .5s;
  }

  .splash_message h2{
    font-size: 25px;
    transition: .5s;
  }

  .splash_message h3{
    font-size: 20px;
    transition: .5s;
  }

  .whoami #title{
    font-size: 32px;
    transition: .5s;
  }

  .whoami #image{
    height: 400px;
    transition: .5s;
  }

  .whoami #text, .whoami ul{
    font-size: 18px;
    transition: .5s;
  }
}

@media screen and (max-width: 999px){
  .splash_message h1{
    font-size: 35px;
    transition: .5s;
  }

  .splash_message h2{
    font-size: 20px;
    transition: .5s;
  }

  .splash_message h3{
    font-size: 16px;
    transition: .5s;
  }

  .whoami #title{
    font-size: 30px;
    transition: .5s;
  }

  .whoami #image{
    height: 380px;
    transition: .5s;
  }

  .whoami #text, .whoami ul{
    font-size: 16px;
    transition: .5s;
  }
}

@media screen and (max-width: 900px){
  .whoami #image{
    float: none;
    display: block;
    margin: 0px auto 25px auto;
    transition: .5s;
  }
}

@media screen and (max-width: 750px){
  .splash_message{
      margin: 10px 25px;
      transition: .5s;
  }

  .whoami{
      margin: 50px 25px 10px 25px;
      transition: .5s;
  }

  .whoami #text, .whoami ul{
    font-size: 14px;
    transition: .5s;
  }
}
